{{#if this.showWidget}}
<div class="widget widget--{{this.styleModifier}}">
	<div class="widget__wrapper">
		<header class="widget__header">
			{{this.title}}
		</header>
		<div class="widget__content">
			<div class="emphasise">
				{{this.content.total}}
			</div>
			{{#if this.hasFlagged}}
			<div>
				Flagged: {{ this.numberOfFlagged }}
			</div>
			{{/if}}
		</div>
	</div>
</div>
{{/if}}
