<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Star Wars Team Dashboard</title>
	<!-- Bootstrap -->
	<link href="/public/css/main.css" rel="stylesheet">
</head>
<body>
