//
// WIDGETS
// =============================================================================
// All styling for widgets (are used to display lists);
//

.widget {
	background-color: #fff;
	height: 310px;
	width: 33%;
	margin-bottom: 40px;
}

.widget__wrapper {
	height: 100%;
	width: 100%;
}

.widget__header {
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.widget__content {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.widget__footer {
	height: 20%;
}

.widget--error {
	background-color: $red;
	color: white;
}

.emphasise {
	font-weight: bold;
	font-size: 4em;
}

.emphasise--long {
	font-size: 1.5em;
}