<div class="widget">
	<div class="widget__wrapper">
		<header class="widget__header">
			{{this.title}}
		</header>
		<div class="widget__content">
			<div class="emphasise emphasise--long">
				{{ this.content.actions.[0].parameters.[0].value }}
			</div>
		</div>
		<footer class="widget__footer">
			{{ this.formattedBuildTime }}
			<br />
			By {{ this.startedBy }}
		</footer>
	</div>
</div>
