{{> header}}

	<div class="dashboard">
		<div class="dashboard__content">
			{{#each widgets}}
				{{> (lookup . 'widget') }}
			{{/each}}
		</div>
	</div>
	<div class="sidebar">
		<iframe src="http://apm.persgroep.net/?projects=5614d25cbc4cee0709c49556&status=500,424" width="100%" height="100%"></iframe>
	</div>

{{> footer}}
