* {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%; }

body {
  text-align: center;
  background-color: #F2F2F2;
  font-size: 24px;
  height: 100%;
  margin: 0;
  padding: 0; }

.dashboard {
  float: left;
  width: 65%;
  height: 100%;
  padding: 25px; }

.dashboard__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.sidebar {
  float: left;
  width: 35%;
  height: 100%; }
  .sidebar iframe {
    overflow: hidden;
    border: 0; }

.widget {
  background-color: #fff;
  height: 310px;
  width: 33%;
  margin-bottom: 40px; }

.widget__wrapper {
  height: 100%;
  width: 100%; }

.widget__header {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center; }

.widget__content {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.widget__footer {
  height: 20%; }

.widget--error {
  background-color: #d04437;
  color: white; }

.emphasise {
  font-weight: bold;
  font-size: 4em; }

.emphasise--long {
  font-size: 1.5em; }

.progress-bar {
  flex: 0 1 100%;
  margin-bottom: 40px; }
  .progress-bar h3 {
    text-align: left; }

.segement {
  float: left; }

.segment--flagged .segment__content {
  background-color: #d04437; }

.segment--open .segment__content {
  background-color: #707070; }

.segment--in-progress .segment__content {
  background-color: #3572b0; }

.segment--in-test .segment__content {
  background-color: #f6c342; }

.segment--closed .segment__content {
  background-color: #14892c; }

.segment__header {
  margin-bottom: .5em;
  height: 50px; }

.segment__wrapper {
  height: 100px;
  text-align: center;
  display: table;
  width: 100%; }

.segment__content {
  display: table-cell;
  vertical-align: middle;
  font-size: 4em;
  background-clip: padding-box;
  color: white; }
