<div class="widget">
	<div class="widget__wrapper">
		<header class="widget__header">
			{{this.title}}
		</header>
		<div class="widget__content">
			<div class="emphasise emphasise--long">
				{{ this.formattedEndDate }}
			</div>
		</div>
	</div>
</div>
