////////////////////////////////////////////////////////////////////////////////
//
// _SITE-SETTINGS.SCSS
//
//  Declare all vars here
//
////////////////////////////////////////////////////////////////////////////////

// =============================================================================
// TYPOGRAPHY
// =============================================================================

// Font stacks
$verdana: Verdana, Geneva, sans-serif;

$tiny-size: .65em;
$milli-size: .75em;
$small-size: .875em;
$default-size: 1em;
$medium-size: 1.2em;
$large-size: 1.4375em;
$xlarge-size: 1.6em;
$xxllarge-size: 3.875em; // 62px @ 16px;

$h1-size: 2.5em; // 40px @ 16px;
$h2-size: 2em; // 32px @ 16px:
$h3-size: 1.75em; // 28px @ 16px;
$h4-size: 1.375em; // 22px @ 16px;
$h5-size: 1.25em; // 20px @ 16px;
$h6-size: 1.125em; // 18px @ 16px;

// =============================================================================
// SPACING
// =============================================================================
$base-font-size: 16px !default;
$base-line-height: 1.5; // ~ 22px @ 16px
$base-spacing-unit: $base-font-size / 1.6;
$half-spacing-unit: $base-font-size / 2;

// =============================================================================
// BREAKPOINTS
// =============================================================================


// =============================================================================
// GRID
// =============================================================================


// =============================================================================
// COLORS
// https://design.atlassian.com/product/foundations/colors/
// =============================================================================
$transparent: transparent;

//grayscales
$black: #000; // should never been used
$white: #fff;

// colors
$red: #d04437;
$yellow: #f6c342;
$green: #14892c;
$medium-gray: #707070;
$pale-blue: #ebf2f9;
$blue: #3572b0;
$charcoal: #333;
$light-gray: #f5f5f5;
$navy: #205081;

// Opacity
$opacity-half: rgba(0, 0, 0, .5);
$opacity-medium: rgba(0, 0, 0, .75);


// =============================================================================
// z-index (all z-index defined on one place to keep overview)
// =============================================================================


// =============================================================================
// Animation settings
// =============================================================================

