* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%;
}
body {
	text-align: center;
	background-color: #F2F2F2;
	font-size: 24px;
	height: 100%;
	margin: 0;
	padding: 0;
}

.dashboard {
	float: left;
	width: 65%;
	height: 100%;
	padding: 25px;
}

.dashboard__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.sidebar {
	float: left;
	width: 35%;
	height: 100%;

	iframe {
		overflow: hidden;
		border: 0;
	}
}
