.progress-bar {
	flex: 0 1 100%;
	margin-bottom: 40px;

	h3 {
		text-align: left;
	}
}

.segement {
	float: left;
}

.segment__content {
	.segment--flagged & {
		background-color: #d04437;
		// border-bottom: 1px solid rgba(208, 68, 55, .75);
	}

	.segment--open & {
		background-color: #707070;
		// border-bottom: 1px solid rgba(112, 112, 112, .75);
	}

	.segment--in-progress & {
		background-color: #3572b0;
		// border-bottom: 1px solid rgba(53, 114, 176, .75);
	}

	.segment--in-test & {
		background-color: #f6c342;
		// border-bottom: 1px solid rgba(246, 195, 66, .75);
	}

	.segment--closed & {
		background-color: #14892c;
		// border-bottom: 1px solid rgba(20, 137, 44, .75);
	}
}

.segment__header {
	margin-bottom: .5em;
	height: 50px;
}

.segment__wrapper {
	height: 100px;
	text-align: center;
	display: table;
	width: 100%;
}

.segment__content {
	display: table-cell;
	vertical-align: middle;
	font-size: 4em;
	background-clip: padding-box;
	color: white;
}
