<div class="progress-bar">
	<h3>{{ this.title }}</h3>
	{{#each this.segments}}
		<div class="segement segment--{{this.key}}" style="width: {{this.percentage}}%;">
			<div class="segment__header">
				{{ this.title }}
			</div>
			<div class="segment__wrapper">
				<div class="segment__content">
					{{ this.numberOfIssues }}
				</div>
			</div>
		</div>
	{{/each}}
</div>
